---
layout: base.njk
title: Resume of John Doe - Lead Developer
keywords: john doe, lead developer, tech innovators inc., web development, responsive design, accessible web experiences, open-source community, cv, portfolio
description: John Doe, Lead Developer at Tech Innovators Inc.
---

{% include "partials/_hero.njk" %}
{% include "partials/_about.njk" %}
{% include "partials/_projects.njk" %}
{% include "partials/_skills.njk" %}
{% include "partials/_contact.njk" %}